:root {
  --container-width: 710px;
}

.editorContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: var(--container-width);
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  transform: translateX(var(--container-width));
}

.showEditor {
  transform: translateX(-1 * var(--container-width));
}
